* {
    margin: 0;
    padding: 0%
}
.wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}
.box {
    width: 30vw;
    height: 30vw;
    background-color: #f2a83b;
    margin: 1.5vw;
    border-radius: 5%;
} 